.profile-container {
    position: relative;
    display: inline-block;
  }
  
  .profile-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: relative;
    top: 40px; /* Adjust for proper alignment */
    right: 0;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 0px;
    width: 180px;
    z-index: 10;
  }
  
  .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 10px;
  }
  
  .dropdown-menu li {
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .dropdown-menu li:hover {
    background-color: #430452;
  }
